{% extends 'ApiBundle:Email:layout.html.twig' %}

{% block title %}Create message confirmation{% endblock %}

{% block body %}
    <p style="font-size: 16px;text-align: center;">
        <a href="{{ url }}">Click here to confirm the operation</a>
    </p>
{% endblock %}